In [1]:
print(2+3)

5

# IF: start indent ,and statement in this written in a same type line

In [26]:
a = 10
b = 20
if a<b:
    print("if is true")
    print("if is true")
    print("if is true")
    print("if is true")
    print("if is true")
else:
    print("if is false")
    print("if is false")
    print("if is false")
    print("if is false")

if is true
if is true
if is true
if is true
if is true

In [27]:
a = 10
b = 20
if a>b:
    print("if is true")
    print("if is true")
    print("if is true")
    print("if is true")
    print("if is true")
else:
    print("if is false")
    print("if is false")
    print("if is false")
    print("if is false")

if is false
if is false
if is false
if is false

In [29]:
a>b

False

In [28]:
a!=b

True

In [30]:
a<b

True

In [32]:
a = 10
b = 20
if a<b:
    print("if is true")
    print("if is true")
    print("if is true")
    print("if is true")
    print("if is true")

if is true
if is true
if is true
if is true
if is true

In [12]:
a = 10
b = 20
if a!=b:
    print("if is true")
    print("if is true")
    print("if is true")
    print("if is true")
    print("if is true")

if is true
if is true
if is true
if is true
if is true

In [5]:
a = 10
b = 20
if a>b:
    print("if is true")
    print("if is true")
    print("if is true")
    print("if is true")
    print("if is true")

In [4]:
a = 10
b = 20
if a<b:
    print("if block")
else:
    print("if not block")

if block

## by default user input always be string,must do typecasting

In [1]:
temp = int(input("Enter the temperature today"))
if temp > 30:
    print("its hot weather today")
else:
    print("normal temperature")

Enter the temperature today40
its hot weather today

### nested if,if one if fail then its not run

In [ ]:
if a<=b:
    if a>b:
        if a<b:
            if a!=b:

In [9]:
cnic = input("do you have cnic?")
if cnic=='yes':
    print("ander chalay jain")    
    nameinlist = input("is my name in list?")
    if nameinlist=='yes':
        print("please caste your vote")   
    else:
        print("you cant caste vote")
else:
        print("you cant caste vote")

do you have cnic?yes
ander chalay jain
is my name in list?yes
please caste your vote

In [10]:
cnic = input("do you have cnic?")
if cnic=='yes':
    print("ander chalay jain")    
    nameinlist = input("is my name in list?")
    if nameinlist=='yes':
        print("please caste your vote")   
    else:
        print("you cant caste vote")
else:
        print("you cant caste vote")

do you have cnic?yes
ander chalay jain
is my name in list?no
you cant caste vote

In [11]:
cnic = input("do you have cnic?")
if cnic=='yes':
    print("ander chalay jain")    
    nameinlist = input("is my name in list?")
    if nameinlist=='yes':
        print("please caste your vote")   
    else:
        print("you cant caste vote")
else:
        print("you cant caste vote")

do you have cnic?no
you cant caste vote

### if elif else,if one statement is correct the it run and this is opposite of nestedif

In [22]:
marks = int(input("Enter your marks :"))
grade = " "
if marks>=90:
    grade = "A*"
elif marks>=80:
        grade = "A"
elif marks>=70:
            grade = "B"
elif marks>=60:
                grade = "C"
elif marks>=50:
                    grade = "D"
else:
    print("you are ungraded please try again")
print(f"your marks are {marks} and your grade is {grade}")

Enter your marks :90
your marks are 90 and your grade is A*

In [23]:
marks = int(input("Enter your marks :"))
grade = " "
if marks>=90:
    grade = "A*"
elif marks>=80:
        grade = "A"
elif marks>=70:
            grade = "B"
elif marks>=60:
                grade = "C"
elif marks>=50:
                    grade = "D"
else:
    print("you are ungraded please try again")
print(f"your marks are {marks} and your grade is {grade}")

Enter your marks :23
you are ungraded please try again
your marks are 23 and your grade is

In [24]:
marks = int(input("Enter your marks :"))
grade = " "
if marks>=90:
    grade = "A*"
elif marks>=80:
        grade = "A"
elif marks>=70:
            grade = "B"
elif marks>=60:
                grade = "C"
elif marks>=50:
                    grade = "D"
else:
    print("you are ungraded please try again")
print(f"your marks are {marks} and your grade is {grade}")

Enter your marks :75
your marks are 75 and your grade is B

In [34]:
marks = int(input("Enter your marks :"))
grade = " "
if marks>=90:
    grade = "A*"
    print(f"your marks are {marks} and your grade is {grade}")
elif marks>=80:
        grade = "A"
        print(f"your marks are {marks} and your grade is {grade}")
elif marks>=70:
            grade = "B"
            print(f"your marks are {marks} and your grade is {grade}")
elif marks>=60:
                grade = "C"
                print(f"your marks are {marks} and your grade is {grade}")
elif marks>=50:
                    grade = "D"
                    print(f"your marks are {marks} and your grade is {grade}")
else:
    print("you are ungraded please try again")
print(f"your marks are {marks} and your grade is {grade}")

Enter your marks :54
your marks are 54 and your grade is D
your marrks are 54 and your grade is D

In [36]:
marks = int(input("Enter your marks :"))
grade = " "
if marks>=90:
    grade = "A*"
    print(f"your marks are {marks} and your grade is {grade}")
elif marks>=80:
        grade = "A"
        print(f"your marks are {marks} and your grade is {grade}")
elif marks>=70:
            grade = "B"
            print(f"your marks are {marks} and your grade is {grade}")
elif marks>=60:
                grade = "C"
                print(f"your marks are {marks} and your grade is {grade}")
elif marks>=50:
                    grade = "D"
                    print(f"your marks are {marks} and your grade is {grade}")
else:
    print("you are ungraded please try again")
print(f"your marks are {marks} and your grade is {grade}")

Enter your marks :32
you are ungraded please try again
your marks are 32 and your grade is

#### AND OPERATOR(nestedif),OR OPERATOR(elif) ( [Applying comment by  using #],[Applying """ this comment whole paragraph,Applying ''''''this by selecting whole paragraph])

In [40]:
cnic = input("do you have cnic?")
# this is cnic no
nameinlist = input("is my name in list?")# this is nameinlist
                                         #next statement is if
if(cnic == 'yes')and (nameinlist =='yes'):
    print("caste your vote.")
else:
    print("cant caste your vote.")
    '''this is if'''
    '''this jsjkxs,mnxs
    sjxkjhckgjjskhksyie
    ajjysgdjkjdhkd'''

do you have cnic?yes
is my name in list?yes
caste your vote.

#### By pressing Control,forward slash we can comment line by line but firstly select the all lines

In [ ]:
# cnic = input("do you have cnic?")

# nameinlist = input("is my name in list?")
                                        
# if(cnic == 'yes')and (nameinlist =='yes'):
#     print("caste your vote.")
# else:
#     print("cant caste your vote.")

##### LIST itself is a dataype

In [2]:
students = ["sadaf","fizza","suwliha","ali","mehreen","burair"]
#index        0        1        2        3      4        5
print(students[0],students[5])

sadaf burair

In [50]:
list1 = ["string" , 34,24,34.6,True]
print(list1[4])
list1.append("hussain")
list1
list1.insert(3,"aijaz")
list1

True

['string', 34, 24, 'aijaz', 34.6, True, 'hussain']

In [52]:
list1 = ["string" , 34,24,34.6,True]
print(list1[4])
list1.append("hussain")
list1
list1.insert(3,"aijaz")
list1list1 = ["string" , 34,24,34.6,True]
print(list1[4])
list1.append("hussain")
list1
del list1[0]
list1

True
34.6

[34, 24, 'aijaz', 34.6, True, 'hussain', 'hussain']

In [54]:
list1 = ["string" , 34,24,34.6,True]
print(list1[4])
list1.append("hussain")
list1
list1.insert(3,"aijaz")
list1
list1[2]="hassan"
list1

True

['string', 34, 'hassan', 'aijaz', 34.6, True, 'hussain']

In [5]:
type(students)

list

In [6]:
students[2]

'suwliha'

In [14]:
newList = []
newList.append(23)
print(newList)
newList[0]
newList.append(255)
print(newList)

[23]
[23, 255]

In [29]:
newList[0] = "sadaf zehra"
print(newList)

['sadaf zehra', 'hussain', 'hassan', 'hassan']

In [32]:
del newList[0]#this delete function remove permenantly
print(newList)

['hussain', 'hassan', 'hassan']

In [34]:
#press shift tab in the function bracket
newList.insert(1,"hussain")
print(newList)

['hussain', 'hussain', 'hussain', 'hassan', 'hassan']

In [35]:
newList.insert(29,"hassan")
print(newList)

['hussain', 'hussain', 'hussain', 'hassan', 'hassan', 'hassan']

In [36]:
newList.index("hassan")

3

In [37]:
newList.insert(29,"hassan")
print(newList)

['hussain', 'hussain', 'hussain', 'hassan', 'hassan', 'hassan', 'hassan']

In [38]:
newList.index("hassan")

3

In [40]:
newList.remove("hassan")
print(newList)

['hussain', 'hussain', 'hussain', 'hassan', 'hassan']

In [50]:
cities = ["karachi","Lahore","islamabad"]
cities.append("karachi")
cities.append("karachi")
cities.append("a")
cities

['karachi', 'Lahore', 'islamabad', 'karachi', 'karachi', 'a']

In [43]:
cities.index("karachi")

0

###### (function)delete by index & (function)remove  by value

In [46]:
marks = [46,3,76,33,89,99,23]
marks.sort()
marks

[3, 23, 33, 46, 76, 89, 99]

In [47]:
marks.sort(reverse = True)
marks

[99, 89, 76, 46, 33, 23, 3]

In [51]:
cities.sort()
cities

['Lahore', 'a', 'islamabad', 'karachi', 'karachi', 'karachi']

In [52]:
cities.sort(reverse = True)
cities

['karachi', 'karachi', 'karachi', 'islamabad', 'a', 'Lahore']

In [53]:
students.sort()
students

['ali', 'burair', 'fizza', 'mehreen', 'sadaf', 'suwliha']

In [1]:
list1 = [1,'sadaf','karachi']
list1.sort()#sort not support int and string list together
list1

TypeError: '<' not supported between instances of 'str' and 'int'

In [55]:
list2 = marks#its not a copy its a assignment or say it pass by refrence
list2

[99, 89, 76, 46, 33, 23, 3]

In [56]:
del marks[2]
list2

[99, 89, 46, 33, 23, 3]

In [57]:
list3 = list2.copy()#this function copy the list
list2.append(45)
list3

[99, 89, 46, 33, 23, 3]

In [58]:
list4 = [2,10,4,8,2,0,1]#only reverse the list not sort it first
list4.reverse()
list4

[1, 0, 2, 8, 4, 10, 2]

In [59]:
list2.clear()
list2

[]

In [60]:
marks

[]

In [61]:
list3

[99, 89, 46, 33, 23, 3]

In [62]:
numbers = [2,3,4,1,5,9,8,7,6]
x = numbers.pop()
print(x)
print(numbers)

6
[2, 3, 4, 1, 5, 9, 8, 7]

In [65]:

x = numbers.pop()
print(x)
print(numbers)

7
[2, 3, 4, 1, 5, 9, 8]

In [66]:

x = numbers.pop()
print(x)
print(numbers)

8
[2, 3, 4, 1, 5, 9]

In [67]:

x = numbers.pop()
print(x)
print(numbers)

9
[2, 3, 4, 1, 5]

In [68]:

x = numbers.pop()
print(x)
print(numbers)

5
[2, 3, 4, 1]

In [69]:

x = numbers.pop()
print(x)
print(numbers)

1
[2, 3, 4]

In [70]:

x = numbers.pop()
print(x)
print(numbers)

4
[2, 3]

In [71]:

x = numbers.pop()
print(x)
print(numbers)

3
[2]

In [72]:
x = numbers.pop()
print(x)
print(numbers)

2
[]

In [73]:
x

2

In [ ]:
number1 = [4,5,6]

In [81]:
number1 = [4,5,6]
popedlist=[]
poppedElement = number1.pop()
popedlist.append(poppedElement)
print(number1)
print(popedlist)

[4, 5]
[6]

In [85]:
popedlist=[]
poppedElement = number1.pop()
popedlist.append(poppedElement)
print(number1)
print(popedlist)

[4]
[5]

In [86]:
popedlist=[]
poppedElement = number1.pop()
popedlist.append(poppedElement)
print(number1)
print(popedlist)

[]
[4]

In [87]:
popedlist=[]
poppedElement = number1.pop()
popedlist.append(poppedElement)
print(number1)
print(popedlist)

IndexError: pop from empty list

In [ ]:
if len(number4)!=0:
    poppedlist1 = []
    poppedlist1 = poppedlist1.append(number4.pop())
    print(poppedlist1)
    
else:
    print("list is empty")

In [97]:
if len(number2)!=0:
    poppedlist1 = []
    poppedlist1.append(number2.pop())
    print(poppedlist1)
else:
    print("list is empty")

list is empty

In [108]:
list5 = [1,2,["sadaf","zehra"]]
list5

[1, 2, ['sadaf', 'zehra']]

In [112]:
list5[2][1]

'zehra'

In [132]:
abc = [23,89,3,students,list5,"abcd"]
abc

[23,
 89,
 3,
 ['ali', 'burair', 'fizza', 'mehreen', 'sadaf', 'suwliha'],
 [1, 2, ['sadaf', 'zehra']],
 'abcd']

In [133]:
abc[4][2].remove("sadaf")
abc

[23,
 89,
 3,
 ['ali', 'burair', 'fizza', 'mehreen', 'sadaf', 'suwliha'],
 [1, 2, ['zehra']],
 'abcd']

In [148]:
del abc[3][0]
abc

[23,
 89,
 3,
 ['burair', 'fizza', 'mehreen', 'sadaf', 'suwliha'],
 [1, 2, ['zehra']],
 'abcd']

Slicing

In [151]:
#index    -4 -3 -2 -1
numbers =[1,2,3,4]
numbers

[1, 2, 3, 4]

In [152]:
numbers[-1]

4

In [153]:
numbers[1:3]#3 is not included

[2, 3]

In [154]:
numbers[1:4]#we are passing the range

[2, 3, 4]

In [12]:
numbers1 = [2,4,5,6,7,8]
numbers1[1:4:2]#take two step its not a gap ,2 step hae yahan 
numbers1

[2, 4, 5, 6, 7, 8]

In [13]:
numbers1[::2]

[2, 5, 7]

In [15]:
numbers1[:3]

[2, 4, 5]

In [16]:
numbers1[2:]

[5, 6, 7, 8]

In [18]:
numbers1[7:4]

[]

In [21]:
numbers1[-5:-1]

[4, 5, 6, 7]

In [37]:
numbers1[-1:-5]

[]

In [23]:
numbers1[-1:-5:-1]

[8, 7, 6, 5]

In [28]:
numbers1[-5:0]

[]

In [41]:
numbers1[-5:]

[4, 5, 6, 7, 8]

In [4]:
numbers1 = [1,2,3,4,5,6,7,8,9]
numbers1[2:7:2]
numbers1

[1, 2, 3, 4, 5, 6, 7, 8, 9]